@using FenzyCars.Web.ViewModels.Cars;

@{
    this.ViewData["Title"] = "Search";
}

@using FenzyCars.Data.Models.Enums;

<h1>@this.ViewData["Title"]</h1>
<hr />

@model CarsSearchViewModel

<section class="py-5">
    <div class="container">
        <div style="padding: 5%;">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Make"></label>
                    <input asp-for="Make" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Color"></label>
                    <input asp-for="Color" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MinMileage"></label>
                    <input asp-for="MinMileage" class="form-control" type="number" min="0" />
                </div>
                <div class="form-group">
                    <label asp-for="MaxMileage"></label>
                    <input asp-for="MaxMileage" class="form-control" type="number" />
                </div>
                <div class="form-group">
                    <label asp-for="Seats"></label>
                    <input asp-for="Seats" class="form-control" type="number" min="0" max="7" />
                </div>
                <div class="form-group">
                    <label asp-for="Doors"></label>
                    <input asp-for="Doors" class="form-control" type="number" min="0" max="6" />
                </div>
                <div class="form-group">
                    <label asp-for="BodyType"></label>
                    <select asp-for="BodyType" class="form-control">
                        <option value="All">All</option>
                        <option value="Hatchback">Hatchback</option>
                        <option value="Minibus">Minibus</option>
                        <option value="Pickup">Pickup</option>
                        <option value="Sports">Sports</option>
                        <option value="Saloon">Saloon</option>
                        <option value="FiveDoorHatchback">Five Door Hatchback</option>
                        <option value="Coupe">Coupe</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Transmission"></label>
                    <select asp-for="Transmission" class="form-control">
                        <option value="All">All</option>
                        <option value="Automatic">Automatic</option>
                        <option value="SemiAuto">Semiauto</option>
                        <option value="Manual">Manual</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="FuelType"></label>
                    <select asp-for="FuelType" class="form-control">
                        <option value="All">All</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Electric">Electric</option>
                        <option value="Gas">Gas</option>
                        <option value="PetrolAndGas">Petrol/Gas</option>
                        <option value="Petrol">Petrol</option>
                        <option value="HybridElectric">Hybrid/Electric</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="MinEngineSize">Minimum engine size</label>
                    <input asp-for="MinEngineSize" class="form-control" type="number" min="0" />
                </div>
                <div class="form-group">
                    <label asp-for="MaxEngineSize">Maximum engine size</label>
                    <input asp-for="MaxEngineSize" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MinYear">Minimum year</label>
                    <input asp-for="MinYear" class="form-control" type="number" min="1900" max="@DateTime.Now.Year" />
                </div>
                <div class="form-group">
                    <label asp-for="MaxYear">Maximum year</label>
                    <input asp-for="MaxYear" class="form-control" min="1900" max="@DateTime.Now.Year" />
                </div>
                <div class="form-group">
                    <label asp-for="MinPrice">Minimum price</label>
                    <input asp-for="MinPrice" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MaxPrice">Maximum price</label>
                    <input asp-for="MaxPrice" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MinHp">Minimum horsepower</label>
                    <input asp-for="MinHp" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MaxHp">Maximum horsepower</label>
                    <input asp-for="MaxHp" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="SortBy"></label>
                    <select asp-for="SortBy" class="form-control">
                        <option value="Default">Default</option>
                        <option value="Hp">Hp</option>
                        <option value="Mileage">Mileage</option>
                        <option value="EngineSize">Engine size</option>
                        <option value="Year">Year</option>
                        <option value="Price">Price</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Way">Way</label>
                    <select asp-for="Way" class="form-control">
                        <option value="Default">Default</option>
                        <option value="Ascending">Ascending</option>
                        <option value="Descending">Descending</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info text-uppercase">Submit</button>
            </form>
        </div>
    </div>
</section>